.slide-background:first-child {
  background-color: #a5c1d6;
}

.date {
  text-align: left;
}

/* .reveal sections */

.reveal strong {
  color: #4c7697;
}

.reveal section h1 {
  text-align: left;
}

.reveal section h2 {
  text-align: left;
}

.reveal section p {
  text-align: left;
}

.reveal section ul {
  text-align: left;
}

.reveal section ol {
  text-align: left;
}

.reveal blockquote {
  text-align: left;
}
