.reveal section h1 {
    font-family: 'Bebas Neue';
}

.reveal section h2 {
    font-family: 'Bebas Neue';
}

.reveal section p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.reveal section ul {
    font-family: 'Roboto', sans-serif;
    text-align: justify
}

.reveal section ol {
    font-family: 'Roboto', sans-serif;
    text-align: justify
}